In [1]:
#Importing libralies
import pandas as pd

In [3]:
from scipy.stats import f_oneway

In [6]:
#loading the given dataset
diamonds = pd.read_excel("diamonds_new.xlsx")

In [7]:
#Displaying the first 6 rows for easy interpretation
diamonds.head(6)

   price  carat        cut color clarity  depth  table     x     y     z
0    326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
5    336   0.24  Very Good     I    VVS1   62.3   57.0  3.95  3.98  2.47

In [8]:
#getting the column we're interested in
carat_categories = diamonds['carat'].unique()
average_prices = []
for category in carat_categories:
    category_data = diamonds[diamonds['carat'] == category]
    average_price = category_data['price'].mean()
    average_prices.append(average_price)

In [ ]:
#performing the one-way ANOVA TEST
f_stat, p_val = f_oneway(*average_prices)

c:\Users\Beautiful Gloria\New folder\www\Lib\site-packages\scipy\stats\_stats_py.py:4102: DegenerateDataWarning: all input arrays have length 1.  f_oneway requires that at least one input has length greater than 1.
  if _f_oneway_is_too_small(samples):

In [16]:
#Interpreting the results
if p_val < 0.5:
    print(f"The average price of diamonds with varying carat categories is significantly different from each other. F-statistic: {f_stat}, p-value: {p_val}")
    
    anova_results = pd.DataFrame({
        'Carat Category': carat_categories,
        'Average Price': average_prices
    })
    print(f"ANOVA Results: {anova_results}")
else:
    print(f"The average price of diamonds with varying carat categories is not significantly different from each other. F-statistic: {f_stat}, p-value: {p_val}")
    anova_results = pd.DataFrame({
        'Carat Category': carat_categories,
        'Average Price': average_prices
    })
    print(f"ANOVA Results: {anova_results}")

The average price of diamonds with varying carat categories is not significantly different from each other. F-statistic: nan, p-value: nan
ANOVA Results:      Carat Category  Average Price
0              0.23     486.879725
1              0.21     380.222222
2              0.29     601.192308
3              0.31     708.235660
4              0.24     505.853755
..              ...            ...
268            0.45    1093.318182
269            0.47    1272.313131
270            0.46    1237.533708
271            0.48    1322.047619
272            0.49    1306.333333

[273 rows x 2 columns]