NAME: KATUSIIME PRAISE MARTHA <br>
ACCESS NUMBER: B29102<br>
REG NO: M24B13/057<br>
EMAIL: marthapraisekatusiime@gmail.com <br>
TEL: 0740014177

In [1]:
import pandas as pd

In [2]:
diamonds_data = pd.read_excel('diamonds_new.xlsx')
diamonds_data.head(6)

   price  carat        cut color clarity  depth  table     x     y     z
0    326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
5    336   0.24  Very Good     I    VVS1   62.3   57.0  3.95  3.98  2.47

In [14]:
from scipy.stats import ttest_ind
from scipy.stats import f_oneway

In [15]:
table_categories = diamonds_data['table'].unique()
average_prices = []
for category in table_categories:
    category_data = diamonds_data[diamonds_data['table'] == category]
    average_price = category_data['price'].mean()
    average_prices.append(average_price)

In [11]:
from scipy.stats import f_oneway

In [17]:
f_stat, p_val = f_oneway(*average_prices)

c:\Users\Beautiful Gloria\New folder\www\Lib\site-packages\scipy\stats\_stats_py.py:4102: DegenerateDataWarning: all input arrays have length 1.  f_oneway requires that at least one input has length greater than 1.
  if _f_oneway_is_too_small(samples):

In [18]:
if p_val < 0.05:
    print('The average price of diamonds based on their table number significantly differs.')
else:
    print('The average price of diamonds based on their table number is not significantly different.')

The average price of diamonds based on their table number is not significantly different.

Question 2

In [19]:
premium_diamonds = diamonds_data[diamonds_data['cut'] == 'premium']
premium_average_price = premium_diamonds['price'].mean()

In [20]:
t_stat, p_val = ttest_ind(premium_average_price, 150)

In [21]:
if p_val < 0.05:
    print('The average price of premium diamonds is significantly higher than 150.')
else:
    print('The average price of premium diamonds is not significantly higher than 150.')

The average price of premium diamonds is not significantly higher than 150.